<div class="card mb-3">
  <h2 class="card-header h4">
    Contact #<%= contact.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @contact.user.present? %>
          <%= link_to contact.user, contact.user %>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= contact.name %></dd>

      <dt>Email</dt>
      <dd><%= contact.email %></dd>

      <dt>Phone number</dt>
      <dd><%= contact.phone_number %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back contact, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @contact.user %>
          <%= link_to edit_contact_url(contact), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @contact.user %>
          <%= link_to contact, method: :delete, data: { confirm: "Do you really want to delete this contact?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(contact.updated_at) %> ago
  </div>
</div>
