<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-header h4">
        New Contact
      </h2>

      <div class="card-body">
        <% was_validated = @contact.errors.any? %>

        <%= form_with(model: @contact, local: true, novalidate: true, class: "mb-3") do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="form-group">
            <% emails_class = "form-control" %>
            <% emails_was_invalid = @contact.errors.include?(:emails) %>

            <% if was_validated %>
              <% if emails_was_invalid %>
                <% emails_class << " is-invalid" %>
              <% else %>
                <% emails_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :emails %>
            <%= f.text_field :emails, class: emails_class, placeholder: "Enter emails" %>
            <% if emails_was_invalid %>
              <% @contact.errors.full_messages_for(:emails).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="form-group">
            <% email_class = "form-control" %>
            <% email_was_invalid = @contact.errors.include?(:email) %>

            <% if was_validated %>
              <% if email_was_invalid %>
                <% email_class << " is-invalid" %>
              <% else %>
                <% email_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :email %>
            <%= f.text_field :email, class: email_class, placeholder: "Enter email" %>
            <% if email_was_invalid %>
              <% @contact.errors.full_messages_for(:email).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="form-group">
            <% phone_number_class = "form-control" %>
            <% phone_number_was_invalid = @contact.errors.include?(:phone_number) %>

            <% if was_validated %>
              <% if phone_number_was_invalid %>
                <% phone_number_class << " is-invalid" %>
              <% else %>
                <% phone_number_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class: phone_number_class, placeholder: "Enter phone number" %>
            <% if phone_number_was_invalid %>
              <% @contact.errors.full_messages_for(:phone_number).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= f.button class: "btn btn-outline-secondary btn-block" %>
        <% end %>

        <%= link_to :back, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-chevron-left fa-fw"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
